# Environment variables
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Dependency directories
node_modules/
jspm_packages/
bower_components/

# Package manager files
*.lock*
.pnp.*
.pnpm-store/
.yarn/
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.yarn-integrity

# Build tools and caches
.grunt
.lock-wscript
.parcel-cache
.vite/
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
build/Release

# Bundlers and frameworks caches
.cache
.fusebox/
.svelte-kit/
.temp
web_modules/

# Compiled output
lib-cov
coverage
*.lcov
.nyc_output

# Server outputs
.next
out
.nuxt
dist
.output
.serverless/
.vuepress/dist
.dynamodb/
.firebase/
.docusaurus

# Test coverage
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional caches
.npm
.eslintcache
.stylelintcache
.node_repl_history
.tern-port
.tsbuildinfo

# npm pack output
*.tgz

# Lock files
*.lock*

# Framework version files
.vscode-test

# Vitepress
**/.vitepress/dist
**/.vitepress/cache

# Other
releases/